    #loginheader{
    background-color:rgba(27, 191, 193, 0.2);
    
    }
    #logologin{
    text-align:center;
    }
    #imglogologin{
    width: 200px;
    }
    #titlelogin{
    font-size:20px;
    color:#97999B;
    }